<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <%- include('./partials/style'); %>
</head>

<body>
  <%- include('./partials/nav'); %>

  <div class="container mt-5">
    <h3>
      <%= currentBlog.title %>
    </h3>
    <span style="color: gray; font-size: 1rem; text-align: center;">
      by <%= author.name %> - <%= new Date(author.createdAt).toDateString() %>
    </span>
    <!-- img should come here -->
    <p class="mt-4">
      <!-- <pre> -->
      <%= currentBlog.content %>
      <!-- </pre> -->
    </p>
    <h2 class="mt-4 mb-3">Comments</h2>
    <% if (locals.user) { %>
    <form method="post" action="/blog/comment/<%= currentBlog._id %>">
      <div class="mb-3 row me-4">
        <!-- <label for="comment" class="form-label">Co</label> -->
        <div class="col-10">
          <input type="text" class="form-control" name="comment" id="comment" placeholder="Add comment">
        </div>
        <button type="submit" class="btn btn-primary col-1">Add</button>
      </div>
    </form>
    <% } %>
    <!-- show all comments -->
    <% if (locals.comments) { %>
    <% comments.forEach(function(commentObj) { %>
    <div class="d-flex align-items-center mb-3">
      <img style="width:50px; height: 50px; border-radius: 50%;" src="<%= commentObj.userId.profilePic %>" alt="userPic">
      <div>
        <p class="ms-2 my-auto">
          <%= commentObj.comment %>
        </p>
        <p class="ms-2 my-auto" style="color: gray; font-size: 0.7rem;"><%= getTimeAgo(new Date(commentObj.createdAt)) %>
        </p>
      </div>
    </div>
    <% }); %>
    <% } %>
  </div>
  <%- include('./partials/script.ejs'); %>
</body>

</html>