<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog - Home</title>
  <%- include('./partials/style.ejs'); %>
</head>

<body>
  <%- include('./partials/nav.ejs'); %>
  <div class="container mt-3 d-flex flex-wrap">
      <% allBlogs.forEach(function(blog) { %>
      <div class="card me-5 mb-3" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <%= blog.title %>
          </h5>
          <p class="card-text">
            <%= blog.content.slice(0, 200) %>...
          </p>
          <a href="/blog/<%= blog._id %>" class="btn btn-primary stretched-link">Show more...</a>
        </div>
      </div>
      <% }); %>
  </div>
  <%- include('./partials/script.ejs'); %>
</body>

</html>